.body-index{
    
background: rgba(76,76,76,1);
background: -moz-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 54%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 98%, rgba(17,17,17,1) 99%, rgba(19,19,19,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(54%, rgba(44,44,44,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(98%, rgba(28,28,28,1)), color-stop(99%, rgba(17,17,17,1)), color-stop(100%, rgba(19,19,19,1)));
background: -webkit-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 54%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 98%, rgba(17,17,17,1) 99%, rgba(19,19,19,1) 100%);
background: -o-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 54%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 98%, rgba(17,17,17,1) 99%, rgba(19,19,19,1) 100%);
background: -ms-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 54%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 98%, rgba(17,17,17,1) 99%, rgba(19,19,19,1) 100%);
background: linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 54%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 98%, rgba(17,17,17,1) 99%, rgba(19,19,19,1) 100%);
color: #111111;
}

.boton-cerrar-sesion{
  margin-right: 60px;
}

.round-button{
  border-radius: 40%;
  border-style: none;
  background-color: transparent;
}

.round-button:hover{
  border-style: outset;
  border-color: darkgreen;
}

.panel-index{
    opacity:0.7;
    border-radius:15px;
}

.btn-login{
    width: 200px;
}

.panel-cancha{
	margin-right: 5px;
	margin-left: 5px;
}

.panel-heading{
  background-color: #373333;
  color: #DDDDDD;
}

.panel-body, .panel-footer{
  background-color: #666666;
  color: #111111;
}

#navbar-ppal-jugador{
    font-family: WalterTurncoat;
    margin-bottom: 50px;
    font-size: 25px;
}

#navbar-ppal-cancha{
    font-family: WalterTurncoat;
    margin-bottom: 50px;
    font-size: 25px;
}
/*************************/
/*     TABLA TURNOS      */
/************************/
#tabla-turnos{
    font-family: WalterTurncoat;
    font-size: 15px;
}

#tabla-turnos>tbody>tr:nth-child(odd)>td,
#tabla-turnos>tbody>tr:nth-child(odd)>th {
   background-color: #48CC39;
 }
 
#tabla-turnos>tbody>tr:nth-child(even)>td,
#tabla-turnos>tbody>tr:nth-child(even)>th {
   background-color: #879985;
 }
 
#panel-turnos {
    font-family: WalterTurncoat;
    font-size: 15px;
    margin-top: 35px;
}

#panel-turno-jugandose{
   margin-top: 45px;
   font-family: WalterTurncoat;
}

#panel-turnos-cargar{
   margin-top: 25x;
   font-family: WalterTurncoat;
}

.panel{
  padding: 0px;
}
#cargar-resultado{
    margin-top:10px;
}

 /*************************/
/*     TABLA PUNTAJES    */
/************************/
#tabla-puntajes{
  display: -moz-stack;
  max-height: 430px;
  overflow-y: auto;
  font-family: WalterTurncoat;
  font-size: 15px;
  
}

#panel-puntajes {
  font-family: WalterTurncoat;
  font-size: 15px;
  margin-top: 35px;
}
 /*************************/
/*     TABLA HISTORIAL   */
/************************/
#tabla-historial{
  display: -moz-stack;
  max-height: 250px;
  overflow-y: scroll;
  font-family: WalterTurncoat;
  font-size: 15px;
    
}

#panel-historial {
  font-family: WalterTurncoat;
  font-size: 15px;
  margin-top: 100px;
}


/*************************/
/*      FONTS            */
/************************/
@font-face {
    font-family: Simpsons;
    src: url(/IAW/fonts/Simpsonfont.ttf);
}
 
@font-face {
    font-family: LaceNice;
    src: url(/IAW/fonts/LaceNice.ttf);
}

@font-face {
    font-family: Rockwell-Bold;
    src: url(/IAW/fonts/SketchRockwell-Bold.ttf);
}

@font-face {
    font-family: Caveman;
    src: url(/IAW/fonts/CAVEMAN_.TTF);
}

@font-face {
    font-family: WalterTurncoat;
    src: url(/IAW/fonts/WalterTurncoat.TTF);
}
/***********************************/
/*          FOOTER                */
/*********************************/
#footer {
    position:fixed;
    height:50px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}


/***********************************/
/*          MODALES               */
/*********************************/

.modal-header{
    background-image:linear-gradient(to bottom, #3c3c3c 0px, #222 100%);
}

.modal-title{
    color: white;
}

#crear-turno-modal{
    top:20%;
}

/***********************************/
/*          SWITCHS               */
/*********************************/

.bootstrap-switch{
    height:35px;
}


/***********************************/
/*          TITULOS               */
/*********************************/

#no-resultados-por-cargar,#resultados-por-cargar, #partido-actual{
    font-family: LaceNice;
    font-size: 35px;
    color:black;
}

#no-turnos-registrarse{
    font-family: LaceNice;
    font-size: 35px;
    color:black;
    margin-top: 150px;
}


/***********************************/
/*          BOTONES               */
/*********************************/
 #crear-turno-btn{
     font-family: LaceNice;
     margin-top: 0px;
 }
 
 .btn {
     font-family: LaceNice;
 }
 
 /**********************************/
/*         MENSAJES DE ERROR      */
/*********************************/
.help-block{
    color:#d9534f;
}

